.box{
    width: 1249px;
    height: 376px;
    margin-top: 73px;
    margin-left: 86px;
    border-radius: 30px;
    background-color: rgba(34, 244, 218, 1);
}
h2{
    text-align: center;
    padding-top: 20px;
}